# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.app
*.mode*
build/
obj/
Debug*/
Release*/
*.pyc

*/bin/*
!*/bin/data/

# IDE-specific ignore patterns

#XCode
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
#XCode 4
xcuserdata
*.xcworkspace

#Code::Blocks
*.depend
*.layout

#Visual Studio
*.sdf
*.opensdf
*.suo
ipch/
# User-specific files
*.suo
*.user
*.sln.docstates

#Eclipse
.metadata
local.properties
.externalToolBuilders

# OS-specific ignore patterns

#Linux
*~
# KDE
.directory

#OSX
.DS_Store
*.swp
*~.nib
# Thumbnails
._*

#Windows
# Windows image file caches
Thumbs.db
# Folder config file
Desktop.ini

#Android
.csettings
